.topnav {
  .dropdown.open>.dropdown-menu {
      min-width: auto;
      display: flex;
      flex-direction: column;
      a {
          display: block;
          width: 100%;
          white-space: nowrap;
          padding: 8px 20px;

          &:hover {
              background-color: rgba($brand-primary, 0.2);
              text-decoration: none;
          }
      }
  }
}